html,
body {
    height: 100%;
    margin: 0 0 0 0;
    background-color: rgba(241, 241, 241, 1);
}

.navbar {
    border-color: rgba(88, 148, 66, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-default {
    background-color: rgba(88, 148, 66, 0);
    color: aliceblue;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
    color: white;
}

.navbar.scrolled {
    background: rgba(88, 148, 66, 1);
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    margin-top: 50vh;
}

h3 {
    color: white;
}

h4 {}

.center {
    text-align: center;
}

.white {
    background-color: white;
}

#sect1 {
    background-image: url(../img/food.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

#sect2 {
    padding: 50px 80px 50px 50px;
}

#sect2 #resto-content img {
    width: 150px;
    margin-bottom: 20px;
}

.map-content {
    height: 100%;
}

#map {
    height: 100%;
}

.resto-content {
    border: 1px solid rgba(220, 220, 220, 1);
    height: 100%;
    overflow: auto;
    box-shadow: 0px 0px 148px -49px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    padding: 0 0 0 0;
}

#resto-liste {
    border-bottom: solid 1px rgba(230, 230, 230, 1);
}

#resto-liste p {
    padding-left: 20px;
}

.moyNote {
    font-size: 20px;
    padding-left: 20px;
    color: #FFD700;
}

#sect3 {
    padding: 20px 20px 20px 20px;
    height: 90vh;
    box-shadow: 0px 0px 148px -49px rgba(0, 0, 0, 0.75);
}

.resto {
    padding: 10px 20px 10px 20px;
    border-top: solid 1px rgba(230, 230, 230, 1);
}

.resto:hover {
    box-shadow: 0px 0px 40px -10px rgba(82, 82, 82, 0.76);
}

.labelLi {
    color: orangered;
    font-weight: bold;
    margin-right: 10px;
}

.infoResto {
    display: inline-block;
    margin-top: 0px;
}

.logo-yelp {
    display: inline;
    width: 60px;
    height: 50px;
    margin-top: -10px;
    margin-right: -10px;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
    width: 600px;
    height: 400px;
}

.comments {
    display: inline
}

.radioNote {
    margin: 10px 0 0 10px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    color: white;
    background-color: rgba(88, 148, 66, 1);
    height: 50px;
}

.ui-widget-header {
    background-color: rgba(88, 148, 66, 1);
    color: white;
    border-color: rgba(88, 148, 66, 1);
    margin-bottom: 30px;
}

.ui-dialog {
    padding: 0px;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-corner-all {
    border-radius: 0px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 2em 1em;
    text-align: center;
    font-size: 1em;
}

.ui-dialog-title {
    font-size: 1.5em;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    position: relative;
    right: 2px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    opacity: 1;
}

.ui-dialog .ui-dialog-titlebar-close:before,
.ui-dialog .ui-dialog-titlebar-close:after {
    position: relative;
    left: 15px;
    content: ''url(img);
    height: 33px;
    width: 2px;
    background-color: #333;
}

.ui-dialog .ui-dialog-titlebar-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-dialog .ui-dialog-titlebar-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btnComment {
    margin: 20px 40%;
}

.btnFiltre {
    margin-left: 20px;
}

.filtre {
    background-color: rgba(227, 227, 227, 1);
    margin: -30px -50px 10px -20px;
    padding: 10px 20px 0px 20px;
}

#noteMin,
#noteMax {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

div.ui-slider-range.ui-widget-header {
    background: -webkit-repeating-linear-gradient( 45deg, rgba(116, 195, 116, 1), rgba(116, 195, 116, 1) 10px, rgba(92, 184, 92, 1) 10px, rgba(92, 184, 92, 1) 20px);
    background: repeating-linear-gradient( 45deg, rgba(116, 195, 116, 1), rgba(116, 195, 116, 1) 10px, rgba(92, 184, 92, 1) 10px, rgba(92, 184, 92, 1) 20px);
}

.ui-slider-handle:active {
    background-color: #f6f6f6;
    border: 1px solid #c5c5c5;
}

.ui-slider-handle:focus {
    outline: none;
    background-color: lightgrey;
    border: 1px solid #c5c5c5;
}

.ui-slider-handle,
.ui-slider-horizontal {
    border-radius: 10px;
}

#slider,
.resultFiltre {
    margin: 10px 0 0 20px;
}

.pointer {
    cursor: pointer;
}

.resto-comment {
    padding: 0 0 0 0;
    border: 1px solid rgba(220, 220, 220, 1);
    height: 100%;
    overflow: auto;
    box-shadow: 0px 0px 148px -49px rgba(0, 0, 0, 0.75);
}

.resto-comment #imgStreetView img {
    width: 100%;
    height: 250px;
    display: block;
}

.resto-bar {
    padding: 20px 10px 10px 10px;
    margin-top: 0;
    font-size: 1.5em;
}

#comments {
    padding: 0 20px 0 20px;
}

#addComment {
    margin: 10px 0 20px 20px;
}

.alert-info {
    margin-top: 20px;
}

.search-div {
    margin-top: 45vh;
    background-color: white;
    border-radius: 4px;
}

.search-div i {
    display: inline;
}

.search-bar {
    height: 60px;
    border: none;
    box-shadow: none;
    display: inline;
    color: black;
}

.search-bar:focus {
    box-shadow: none;
}

.input-group-addon-right {
    background-color: rgba(88, 148, 66, 1);
    border-color: rgba(88, 148, 66, 1);
    height: 60px;
    color: white;
    padding: 0 30px 0 30px;
}

.input-group-addon-right button {
    background-color: rgba(88, 148, 66, 1);
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
}

.input-group-addon-right button:focus {
    outline: none;
}

.input-group-addon-left {
    background-color: transparent;
    color: gray;
    border: none;
    box-shadow: none;
}

#back {
    float: right;
    color: grey;
    margin: 3px 4px 3px 3px;
    font-weight: 100;
    opacity: 0.5;
}

.label-filtre {
    font-weight: normal;
}

.filtre-star {
    float: left;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 4px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}


/* effet bounce fleche défiler vers le bas */

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}